<head>
    <link rel="stylesheet" href="css.css">
    <title>About us Page</title>
</head>

<body>
    <br><br><br>
    <div class="card">
        <div class="row no-gutters row-bordered">
            <div class="d-flex col-md align-items-center">
                <a class="card-body d-block text-body">
                    <div class="text-muted text-xlarge line-height-1">About</div>
                </a>
            </div>
        </div>
        <hr class="border-light m-0">
        <div class="card-body">
            <p class="mt-4 mb-3">
                Feel free to express yourself, ideas and thoughts. Remember always to think positively and train your
                mind to see the good in every situation.
                Here we help you to share your thoughts and notes. You can share your articles, books, notes and
                thoughts with all other users.
                Each one of us can communicate with others and comment on posted topics.

                Some features you will like here:
                <ul>
                    <li>You can like any topics you read.</li>
                    <li>You can save topics.</li>
                    <li>You can follow others.</li>
                    <li>You can have a list of topics that you want read later.</li>
                </ul>
            </p>
        </div>

    </div>
</body>