<head>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Search Page</title>
</head>


<div class="home__top">

    <div class="home__top__right search-bar">
        
    </div>
    <div class="home__top__left">
  
    </div>
</div>

<div class="home__main">
<!-- search one  -->
<% if (users) { %>
    <% for( let i = 0; i <users.length; i++ ) { %>
        <div class="home__main__twitt">
            <div class="home__main__twitt--img">
                <img src="<%=users[i].image%>"
                    alt="" width="50" height="50">
            </div>
        
            <div class="home__main__twitt__right">
                <h4 class="home__main__twitt__right--h4">
                    <%=users[i].name%> <span> @<%=users[i].username%></span>
                </h4>
                <div class="profile__about--follow-2">
                  <form action="/user/follow/<%=users[i]._id%>" method="POST">
                   <input type="submit" value="Follow">
                  </form>
                       
                    
                </div>
            </div>
        </div>
    <% } %>
<% } %>


</div>



<!-- end of search -->